.color {
  background-color: skyblue;
  grid-row: row-start 2 / row-end 2;
  grid-column: center-start / center-end; }

.design {
  background-color: sandybrown;
  grid-column: center-start / center-end;
  grid-row: row-start 1 / row-end 1; }

.email {
  background-color: springgreen;
  grid-row: email-start / email-end;
  grid-column: center-start / center-end; }

.function {
  background-color: slateblue;
  grid-column: full-start / full-end;
  grid-row: function-start / function-end; }

.header {
  grid-column: 1/-1;
  grid-row: header-start / header-end;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__icon {
    width: 15rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .header__nav-bar {
    margin-right: auto;
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    font-weight: 900; }
    .header__nav-bar--link {
      text-decoration: solid;
      text-decoration: none;
      color: #1117a3;
      margin-right: 2.8rem;
      transition: all 0.1s; }
      .header__nav-bar--link:hover {
        padding-bottom: 0.3rem;
        border-bottom: 1.5px solid #8f93d9; }
      .header__nav-bar--link-active {
        padding-bottom: 0.3rem;
        border-bottom: 1.5px solid #8f93d9; }
  .header__shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6rem; }
    .header__shopping--list {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.5rem;
      font-weight: 900;
      border: 1px solid #3f46c2;
      border: none;
      background-color: #3f46c2;
      border-radius: 100px;
      padding: 0.7rem 3rem;
      box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2); }
    .header__shopping-icon {
      margin-left: 2rem;
      font-size: 1.8rem; }
    .header__shopping--signUp {
      color: white;
      margin-left: 3rem;
      font-size: 1.4rem;
      font-weight: 900;
      border: 1px solid #f2913d;
      border: none;
      background-color: #f2913d;
      border-radius: 100px;
      padding: 1rem 4.5rem;
      box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2); }

.section {
  grid-row: section-start/ section-end;
  grid-column: full-start/ full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 20rem; }
  .section__description {
    position: relative;
    padding-right: 5rem; }
    .section__description--name {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
      font-size: 35rem;
      font-weight: 1200;
      display: inline-block;
      line-height: 0;
      color: #3f46c2;
      opacity: 0.1;
      z-index: 1; }
    .section__description--function {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
      position: absolute;
      line-height: 1;
      font-size: 5rem;
      z-index: 2;
      color: #1117a3;
      top: 1rem;
      left: 2.5rem; }
    .section__description--des {
      padding-right: 6rem;
      font-size: 1.5rem;
      color: #817f7f;
      position: absolute;
      top: 18rem;
      left: 2.5rem; }
  .section__email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2.5rem;
    top: 25rem;
    width: 75%; }
    .section__email--input {
      position: relative;
      width: 100%;
      padding: 2rem 0 2rem 5rem;
      border: none;
      border-radius: 150px;
      background-color: white;
      box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.3); }
      .section__email--input::placeholder {
        color: #cec0c0; }
    .section__email--btn {
      font-size: 1.5rem;
      padding: 1.6rem 3.5rem;
      border: none;
      border-radius: 150px;
      background-color: #3f46c2;
      color: white;
      position: absolute;
      top: 0.3rem;
      left: 25.6rem;
      cursor: pointer; }
    .section__email--icon {
      position: absolute;
      font-size: 2rem;
      color: #cec0c0;
      z-index: 3;
      top: 1.3rem;
      left: 2rem; }
  .section__image {
    width: 100%; }

.store {
  background-color: slategrey;
  grid-row: store-start / store-end;
  grid-column: center-start / center-end; }

.contact {
  background-color: teal;
  grid-row: contact-start / contact-end;
  grid-column: full-start/ full-end; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif; }

.container {
  display: grid;
  grid-template-rows: [header-start] min-content [header-end section-start] 95vh [section-end] repeat(2, [row-start] 1fr [row-end]) [function-start] 80vh [function-end store-start] 1fr [store-end email-start] min-content [email-end contact-start] min-content [contact-end];
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.background-top {
  background: linear-gradient(270deg, #eeaeca 0%, #94bbe9 15%, white 74%);
  grid-column: full-start/ full-end;
  grid-row: header-start/section-end; }
