// COLOR VARIABLES
// $color-primary: #c69963;
// $color-primary-dark: #B28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% --> 1rem = 10px
}

body {
  font-family: $font-primary;
}

.container {
  display: grid;

  grid-template-rows:
    [header-start] min-content [header-end section-start] 95vh [section-end ] repeat(
      2,
      [row-start] 1fr [row-end]
    )
    [function-start] 80vh [function-end store-start] 1fr [store-end email-start] min-content [email-end contact-start] min-content [contact-end];

  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];

  //   overflow-x: hidden;
}

.background-top {
  //   z-index: -1;
  //   background: rgb(238, 174, 202);
  background: linear-gradient(
    270deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 15%,
    rgba(255, 255, 255, 1) 74%
  );
  grid-column: full-start/ full-end;
  grid-row: header-start/section-end;
}
